/* EMILY'S CSS BEGINS */

.task-list-1, #lowPriority {
    color: green;
}
.task-list-2, #mediumPriority {
    color: goldenrod;
}
.task-list-3, #highPriority {
    color: red;
}
.task-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em 0 0 1em;
}
.task-main-output-container {
    display: table;
    width: 100%;
}
.task-left-container {
    display: grid;
    position: relative;
    float: left;
    width: 40%;
    min-width: 360px;
    height: auto;
    margin: 1em 1em 0em 6em;
}
.task-right-container {
    display: grid;
    position: relative;
    float: right;
    width: 40%;
    min-width: 360px;
    height: auto;
    margin: 1em 6em 0em 0em; 
}
.task-row {
    /* border: 2px grey solid; */
    display: inline;
    /* float: left; */
    flex-direction: column;
    /* align-content: baseline; */
    margin-bottom: 1em;
}
.task-buttons {
    /* display: flex; */
    float: center;
    width: 10%;
    margin: .5em;
}
.task-bottom-container {
    display: flex;
    justify-content: center;
    width: 100%;
    float: inline-end;
    justify-items: center;
}
.text-muted {
    display: flex;
}
.task-new-form {
    padding: 2em;
}
.task-save-btn {
    display: flex;
    align-self: flex-end;
    justify-content: center;
}

/* EMILY'S CSS ENDS


/* users-feed-carousel START */
.carousel-item img {
    margin:10px;
}
.block4-wrap {
    display:flex
}
.block4 {
    flex:1 0 25%;
    background:#000;
    color:#fff;
}
.my-captions{margin:10px;padding-bottom:3em}

.user-feed-container {
    margin-left: 125px;
}


/* fix width and make user scroll with mouse/touch to see the items */
@media screen and (max-width:768px){
    .block4{max-width:280px;flex:1 0 100%;overflow:hidden}  
    .carousel{overflow:hidden;}
    .carousel-inner{overflow-x:visible;}
}
@media screen and (max-width:480px){
    .block4{max-width:240px;}   
}
/* users-feed-carousel END */


/* news */

.news-left-output-container {
    background-color: #E8ECEF;
    float: left;
    margin: 1em;
    display: flex;
    position: fixed;
}

.news-right-output-container {
    float: right;
    margin: 1em;
    width: 50%;
}

#article-list {
    display: flex;
    flex-direction: column-reverse;
    margin: 1em;
    word-wrap: break-word;
}

.submit-article {
    display: flex;
    align-items: flex-end;
}
